# SPDX-License-Identifier: GPL-2.0
#
# x86-64 CPU selection and depending optimization
#

config CC_HAS_MARCH_NATIVE
	# This flag might not be available in cross-compilers:
	def_bool $(cc-option, -march=native)

	# LLVM 18 has an easily triggered internal compiler error in core
	# networking code with '-march=native' on certain systems:
	# https://github.com/llvm/llvm-project/issues/72026
	#
	# LLVM 19 introduces an optimization that resolves some high stack
	# usage warnings that only appear with '-march=native'.
	depends on CC_IS_GCC || CLANG_VERSION >= 190100

config X86_NATIVE_CPU
	bool "Build and optimize for local/native CPU"
	depends on X86_64
	depends on CC_HAS_MARCH_NATIVE
	help
	  Optimize for the current CPU used to compile the kernel.
	  Use this option if you intend to build the kernel for your
	  local machine.

	  Note that such a kernel might not work optimally on a
	  different x86 machine.

	  If unsure, say N.

#
# x86-64 CPU defaults and features
#

config X86_INTERNODE_CACHE_SHIFT
	int
	default "12" if X86_VSMP
	default X86_L1_CACHE_SHIFT

config X86_L1_CACHE_SHIFT
	int
	default "6"

config X86_TSC
	def_bool y
	depends on X86_64

config X86_HAVE_PAE
	def_bool y
	depends on X86_64

config X86_CX8
	def_bool y
	depends on X86_64

config X86_CMOV
	def_bool y
	depends on X86_64

config X86_MINIMUM_CPU_FAMILY
	int
	default "64" if X86_64

config X86_DEBUGCTLMSR
	def_bool y
	depends on X86_64 && !UML

config IA32_FEAT_CTL
	def_bool y
	depends on CPU_SUP_INTEL || CPU_SUP_CENTAUR || CPU_SUP_ZHAOXIN

config X86_VMX_FEATURE_NAMES
	def_bool y
	depends on IA32_FEAT_CTL

#
# Processor vendor support
#

menuconfig PROCESSOR_SELECT
	bool "Supported processor vendors" if EXPERT
	help
	  This lets you choose what x86 vendor support code your kernel
	  will include.

config BROADCAST_TLB_FLUSH
	def_bool y
	depends on CPU_SUP_AMD && 64BIT

config CPU_SUP_INTEL
	default y
	bool "Support Intel processors" if PROCESSOR_SELECT
	help
	  This enables detection, tunings and quirks for Intel processors.

	  You need this enabled if you want your kernel to run on an
	  Intel CPU. Disabling this option on other types of CPUs
	  makes the kernel a tiny bit smaller. Disabling it on an Intel
	  CPU might render the kernel unbootable.

	  If unsure, say N.

config CPU_SUP_AMD
	default y
	bool "Support AMD processors" if PROCESSOR_SELECT
	help
	  This enables detection, tunings and quirks for AMD processors.

	  You need this enabled if you want your kernel to run on an
	  AMD CPU. Disabling this option on other types of CPUs
	  makes the kernel a tiny bit smaller. Disabling it on an AMD
	  CPU might render the kernel unbootable.

	  If unsure, say N.

config CPU_SUP_HYGON
	default y
	bool "Support Hygon processors" if PROCESSOR_SELECT
	select CPU_SUP_AMD
	help
	  This enables detection, tunings and quirks for Hygon processors.

	  You need this enabled if you want your kernel to run on an
	  Hygon CPU. Disabling this option on other types of CPUs
	  makes the kernel a tiny bit smaller. Disabling it on a Hygon
	  CPU might render the kernel unbootable.

	  If unsure, say N.

config CPU_SUP_CENTAUR
	default y
	bool "Support Centaur processors" if PROCESSOR_SELECT
	help
	  This enables detection, tunings and quirks for Centaur processors.

	  You need this enabled if you want your kernel to run on a
	  Centaur CPU. Disabling this option on other types of CPUs
	  makes the kernel a tiny bit smaller. Disabling it on a Centaur
	  CPU might render the kernel unbootable.

	  If unsure, say N.

config CPU_SUP_ZHAOXIN
	default y
	bool "Support Zhaoxin processors" if PROCESSOR_SELECT
	help
	  This enables detection, tunings and quirks for Zhaoxin processors.

	  You need this enabled if you want your kernel to run on a
	  Zhaoxin CPU. Disabling this option on other types of CPUs
	  makes the kernel a tiny bit smaller. Disabling it on a Zhaoxin
	  CPU might render the kernel unbootable.

	  If unsure, say N.